.toggleBtn {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: var(--jp-widgets-font-size);
  cursor: pointer;
  height: var(--jp-widgets-inline-height);
  line-height: var(--jp-widgets-inline-height);
  box-shadow: none;
  color: var(--jp-ui-font-color1);
  background-color: var(--jp-layout-color2);
  border-color: var(--jp-border-color2);
  border: none;
  user-select: none;
  width: var(--jp-widgets-inline-width-short);
  margin: var(--jp-widgets-margin);
  box-sizing: border-box;
  position: relative;
  font-family: inherit;
  -webkit-appearance: button;
  text-transform: none;
  align-items: flex-start;
  text-indent: 0px;
  text-shadow: none;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
}

.toggleBtn:active, .toggleBtn.mod-active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, var(--md-shadow-key-penumbra-opacity)), 0 1px 10px 0 rgba(0, 0, 0, var(--md-shadow-ambient-shadow-opacity)), 0 2px 4px -1px rgba(0, 0, 0, var(--md-shadow-key-umbra-opacity));
  color: var(--jp-ui-font-color1);
  background-color: var(--jp-layout-color3);
}

.toggleBtn:hover:enabled, .toggleBtn:focus:enabled {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, var(--md-shadow-key-penumbra-opacity)), 0 3px 1px -2px rgba(0, 0, 0, var(--md-shadow-key-umbra-opacity)), 0 1px 5px 0 rgba(0, 0, 0, var(--md-shadow-ambient-shadow-opacity));
}

.toggleBtn:focus:enabled {
  outline: 1px solid var(--jp-widgets-input-focus-border-color);
}

/* Pandas CSS */
.pandasView {
  overflow: scroll;
  width: 100%;
  overflow-y: hidden;
}

.pandasStyle {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  table-layout: fixed;
}

.pandasStyle td, th, tr {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}

.pandasStyle th {
  font-weight: bold;
}

.pandasStyle tr:nth-child(odd) {
  background: #f5f5f5;
}

.pandasStyle thead tr:first-of-type {
  background: #FFFFFF;
  border-bottom: 1px solid black;
}

.pandasStyle tr:hover {
  background: rgba(66, 165, 245, 0.2);
}

.jp-OutputArea-output {
    height: auto;
    overflow: auto;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    width: 90%;
    padding-bottom: 4px;
  }
  
  #widgetContainer{
    /* height: 315px; */
    width:100%;
    display:inline-flex;
  }
  
  #oneViewWidgetContainer {
    width:100%;
    display:inline-flex;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #mult-graph-container{
    display: inline-flex;
  }
  .recommendationStaticContentOuter{
    scroll-snap-align: start;
    /* border: 0.5px solid #bcbdbd; */
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-block;
    text-align: left;
    /* padding-left: 20px; */
    /* padding-top: 10px; */
    /* height: 100%; */
    box-sizing: border-box;
    width: 100%;
    position: relative;
  }
  .recommendationContentOuter{
    /* overflow: scroll; */
    /* Prevents unneccesary x-scroll for specified facet */
    /* width:  100%; */
    /*height: 225px;*/
    display: flex;
    /* display: inline-block;*/
    margin-left: 10px;
    text-align: left;
  }
  .vega-embed {
    position: relative;
    display: inline-block;
    /* padding-right: 38px; */
    flex: 1 0 auto;
    padding-right: 10px !important;
  }
  /* .vega-embed:hover{
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
  }   */
  .vega-embed:checked{
    border: solid 1px;
    border-color: blue;
  }
  .recommendationContentInner{
    /*width: auto;
    max-width: 150%;*/
    /*display: inline-block;*/
    /*margin-left: 8px;*/
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    /* overflow-x: auto; */
    overflow-x: initial;
    padding-right: 50px;
    /*height: 280px;*/
    /* width: max-content;
    overflow-x: auto; */
    /* height: 100px; */
  }
  
  .toolDiv{
    position: relative;
    top: -20px;
    left: -5px;
  }
  .fa {
    color:gray;
  }
  .fa:hover{
    color:black;
  }
  
  .graph-container{
    height: 250px;
    max-height: 270px;
    margin: 10px 0px 5px 5px;
    padding: 0px 0px 0px 0px;
  }
  #mainVizTitle{
    font-size: 20px;
    display: inline-block;
    left: 10%;
    top: 0px;
    position: absolute;
  }
  #mainVizContainer{
    padding: 10px 0px 0px 0px;
    border: 0.5px solid #bcbdbd;
    overflow-y: auto;
  }
  
  #mainVizInnerContainer{
    margin-top: 50px;
  }
  
  #placeHolderVizContainer{
    min-height: 100%;
    min-width: 1px;
  }
  #tabBanner{
    border: 0.5px solid #bcbdbd;
    width: auto;
    overflow: hidden;
    flex: 1;
  }
  #exportBtn{
    position: absolute;
    top: 36px;
    right: 5px;
    font-size: 20px;
    padding: 5px;
  }
  
  #deleteBtn{
    position: absolute;
    top: 36px;
    right: 33px;
    font-size: 20px;
    padding: 5px;
  }
  
  #intentBtn{
    position: absolute;
    top: 36px;
    right: 59px;
    font-size: 20px;
    padding: 5px;
  }
  
  #alertBox{
    position: absolute;
    left: 23%;
    width: 54%;
    bottom: 6%;
    padding: 5px 30px 5px 10px;
  }
  
  /* 
    JupyterLab does support bootstrap, so need to add bootstrap css
    https://gist.github.com/EvanHerman/315952ebf371cb83ee9db6c54499933d
  */
  
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
  
  .alert-dismissable,
  .alert-dismissible {
    padding-right: 35px;
  }
  
  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .close {
    float: right;
    font-size: 19.5px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  
  /* canvas{
    width: 229px;
    height: 245px;
  } */
  /* Override .fade default to show tab*/
  .fade {
    opacity:1;
  }
  /* Copied from bootstrap.css */
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
  }
  
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }
  
  .tabBannerPadding {
    padding-left: 210px;
  }
  
  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }
  
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
  }
  
  .nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: 500;
  }
  
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .nav-pills .nav-link {
    border-radius: 0.25rem;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
  }
  
  .nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }
  
  .nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
  }
  
  .tab-content > .tab-pane {
    display: none;
  }
  
  .tab-content > .active {
    display: block;
  }
  /* Selectable Card React Component  CSS */
  /* Card */
  .card {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
    margin: 20px 10px;
    cursor: pointer;
  }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  /* Selectable */
  .card .selectable {
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 4px solid transparent;
  }
  .card .selectable .check {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
  }
  .card .selectable .check:before {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    content: '';
    border: 20px solid;
    border-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .card .selectable .check .checkmark {
    display: block;
    font: 20px sans-serif;
    line-height: 20px;
    text-align: center;
    color: transparent;
  }
  .card .selectable.selected {
    border-color: #4ad;
  }
  .card .selectable.selected .check:before {
    border-color: #4ad #4ad rgba(0, 0, 255, 0) rgba(255, 0, 0, 0);
  }
  .card .selectable.selected .check .checkmark {
    color: #fff;
  }
  .content {
    padding: 24px;
  }
  .content .title, .content .description {
    margin: 0;
    padding: 4px;
  }
  .column {
    float: left;
    width: 50%;
  }
  .column > .title {
    text-align: center;
  }
  button.card {
    display: block;
    cursor: pointer;
    width: 180px;
    margin: 20px auto;
    text-align: center;
    padding: 16px;
    border-color: transparent;
    border-radius: 10px;
    background: #4ad !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
  }
  button.card:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .title-description{
    line-height: 2;
    font-weight: 500;
    margin-left: 15px;
    margin-bottom: -27px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
  }
  .text-description {
    line-height: 2.5;
    margin-left: 15px;
    margin-bottom: -25px;
    color: rgb(80, 80, 80);
    margin-top: 5px; 
  }
  .text-container-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -35px;
  }
  .warning-footer {
    padding: 10px;
    border: 0.5px solid #bcbdbd;
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    border-top: 0px;
  }
  .info-footer {
    padding: 10px;
    border: 0.5px solid #bcbdbd;
    background-color: rgb(206, 228, 255);
    display: flex;
    flex-direction: row;
    border-top: 0px;
    position: relative;
  }
  #no-recs-footer {
    padding: 10px;
    border: 0.5px solid #bcbdbd;
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  #no-recs {
    color: #ffbc00;
    pointer-events: none;
    position: relative;
    top: 5px;
    left: px;
    font-size: 25px;
    padding: 5px;
  }
  #no-recs-text {
    color: rgb(80, 80, 80);
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 30px;
  }
  #scroll-indicator {
    margin-right: 10px;
    margin-top:  5px;
    text-align: right;
    color: rgb(80, 80, 80);
    font-weight: 700;
    z-index: 0;
    position: relative;
    margin-bottom: 15px;
  }
  #scroll-indicator-background {
    z-index: 0;
    position: relative;
    background-color: rgba(250, 250, 250, 0.8);
    /* width: 210px; */
    height: 25px;
    float: right;
    margin-top: -26px;
  }
  /* This forces the toggle button to overlap with widget.Output (main widget). This may leak to other .widget-button if there are non-Lux widgets in the notebook. */
  /* .widget-button{  
    position: absolute;
    z-index: 999;
    border-radius: 5px;
  } */
  
  #first-arrow{
    margin-left: 25px;
    opacity: 50%;
  }
  
  #second-arrow{
    margin-left: -4px;
  }
  
  .highlight-intent{
    font-weight: 500;
    background: aliceblue;
    display: inline;
    /* display: inline-table;
    text-align: left; */
  }
  .highlight-descriptor{
    font-weight: 500;
    background: #fffee1;
    display: inline;
    /* display: inline-table;
    text-align: left; */
  }
  #intent_str {
    margin-top: 5px;
    font-weight: 500;
    max-width:100px
  }
  
  #warnBtn{
    color: #ffbc00;
    position: absolute;
    top: 33px;
    right: 88px;
    font-size: 20px;
    padding: 5px;
  }
  #warnBtn:hover{
    color:black;
  }
  .warnMsgText{
    color: rgb(80, 80, 80);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 30px;
  }
  #infoBtn{
    position: absolute;
    top: 72px;
    right: 5px;
    font-size: 20px;
    padding: 5px;
  }
  .infoMsgText{
    color: rgb(80, 80, 80);
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  #cur-img {
    all: revert;
  }
  
  #gal-img {
    all: revert;
  }
  